/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
h1{
	font-size: 40px;
	font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
	font-weight: 100;
}
#listDomain{
	width: 1200px;
	height: auto;
	background: rgba(234,234,234,0.94);
	margin-top: 30px;
	
}

#listDomain>li{
	font-size: 20px;
	font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
	font-weight: 200;
	line-height: 50px;
	height: 50px;
	text-indent: 20px;
	display: block;
	transition-duration: 0.6s;
	border-bottom: 1px solid;
	border-color: rgba(178,175,175,0.20);
}
#listDomain>li:last-child{
	border-bottom: 0px;
}

#listDomain>li:hover{
	background:rgba(230,229,229,0.86);	
	box-shadow: 3px 3px 5px rgba(134, 138, 138, 1);
	height: 450px;
}
li{
	cursor: pointer;
	list-style: none;

}

.subMenu{
	height: 0;
	overflow: hidden;
	display: block;
	font-size: 15px;
	font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
	font-weight: 100;	
	transition-duration: 0.6s;
}

#listDomain>li:hover .subMenu{
	height: 400px;
	overflow: scroll;
	background-color: rgba(144,144,144,0.05);
}

.subMenu li{
	transition-duration: 0.5s;
	white-space: nowrap;
	height: 25px;
	line-height: 25px;
	text-indent: 30px;
}
.subMenu li:hover{
	background:rgba(230,229,229,0.86);
	text-indent: 50px;
}